
הרצאה/שיעור 3.pdf
הרצאה/שיעור 1.pdf
הרצאה/שיעור 2.pdf
הרצאה/שיעור 2.pdf
תרגול/2 מבוא, פלט, תנאי ואופרטורים.pdf
תרגול/3 לולאות, קלט וטיפוסים.pdf
תרגול/תרגול 2.pdf
תרגול/תרגול 1.pdf
Assignments/Matala1/stam.c
Assignments/Matala1/test
